.TranslationWord {
  display: inline-flex;
  border-radius: var(--ds-radius-md);
  box-shadow: 0 6px 0 -4px transparent;
  transition: 0.3s ease;
}

/* Better for copy/pasting, but leads to jank when selecting/de-selecting */
/* .TranslationWord:is(.selected, .selectedRoot) {
  display: inline-flex;
} */

.TranslationWord.hasEntry:not(.selected, .selectedRoot) {
  box-shadow: 0 6px 0 -4px var(--ds-bg-container-low-contrast);
}

/* Additional wrapper for selected word, to help encapsulate construction info */
/* .TranslationWord.selected {
  background-color: var(--ds-bg-container);
  padding: var(--ds-space-1);
} */

.Word {
  width: max-content;
  border-radius: var(--ds-radius-md);
  /* user-select: none; */
  transition: 0.3s ease;
}

.selected .Word {
  padding: var(--ds-space-1);
  /* Selected words are also rendered in reversed theme */
  background-color: var(--ds-bg-default);
  color: var(--ds-fg-high-contrast);
}

.selectedRoot .Word {
  background-color: var(--ds-bg-container);
  padding: var(--ds-space-1);
}

.TranslationWord:focus-visible {
  outline: 2px solid var(--ds-mg-border);
}
