.TranslationWord {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--ds-radius-md);
  box-shadow: 0 6px 0 -4px transparent;
  transition: 0.3s ease;
}

.TranslationWord.selectedRoot {
  background-color: var(--ds-bg-container);
  /* border: 1px solid var(--ds-fg-default); */
}

.TranslationWord.hasEntry:not(.selected, .selectedRoot) {
  box-shadow: 0 6px 0 -4px var(--ds-bg-container-low-contrast);
}

/* Additional wrapper for selected word, to help encapsulate construction info */
/* .TranslationWord.selected {
  background-color: var(--ds-bg-container);
  padding: var(--ds-space-1);
} */

.Word {
  width: max-content;
  border-radius: var(--ds-radius-md);
  user-select: none;
  transition: 0.3s ease;
}

.selected .Word {
  padding: var(--ds-space-1);
  background-color: var(--ds-bg-container);
  color: var(--ds-fg-default);
}

.selectedRoot .Word {
  padding: var(--ds-space-1);
  background-color: rgba(var(--ds-accent-rgb), 0.1);
  color: var(--ds-fg-default);
  transition: 0.3s ease;
}

.TranslationWord:focus-visible {
  outline: 2px solid var(--ds-mg-border);
}
