.Book {
  max-width: 75ch;
}

/* .BookName {
  position: sticky;
  top: 1rem;
} */

.translationChain {
  font-size: 0.75rem;
  color: var(--ds-fg-low-contrast);
}

.chapters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 1rem;
}
