.Verse {
  display: flex;
  gap: 40px;
}

.TranslatedText,
.Details {
  flex-basis: 0;
  flex-grow: 1;
}

.TranslatedText {
  display: flex;
}

.VerseNumber {
  padding-inline-end: 0.125rem;
  color: var(--ds-fg-secondary);
}
