.choice {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  width: var(--ds-font-size-base);
  height: var(--ds-font-size-base);
  border: 1px solid var(--ds-fg-primary);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.input:checked {
  border-width: 2px;
}

.input:focus-visible {
  outline: 2px solid var(--ds-fg-tertiary);
}

.input[type='radio'] {
  border-radius: 50%;
}

.input[type='radio']::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s ease;
}

.input[type='radio']:checked::after {
  background-color: var(--ds-fg-primary);
}

.input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 1px)) rotate(-45deg);
  width: 6px;
  height: 3px;
  border: 2px solid transparent;
  border-top: 0;
  border-right: 0;
}

.input[type='checkbox']:checked::after {
  border-color: var(--ds-fg-primary);
}

.label {
  font-size: 14px;
  color: var(--ds-color-neutral-900);
  user-select: none;
}
