.books {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-space-2);
}

.book {
  padding: var(--ds-space-2);
}

.book.complete {
  background-color: var(--ds-bg-container-low-contrast);
  border-radius: var(--ds-radius-md);
}

.bookName {
  display: flex;
  align-items: center;
  gap: var(--ds-space-2);
}

.bookProgress {
  font-weight: 400;
  color: var(--ds-fg-low-contrast);
}

.chapters {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.chapterNumber {
  font-size: 0.65rem;
}

.verses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: start;
  max-height: 40px;
  gap: 1px;
}

/* Explicity set the width of the verses container for each new column,
to address Safari's issue with flex items not properly using their intrinsic width */
.verses:has(.verse:nth-child(11)) {
  min-width: calc(6px + 1px);
}
.verses:has(.verse:nth-child(21)) {
  min-width: calc(9px + 2px);
}
.verses:has(.verse:nth-child(31)) {
  min-width: calc(12px + 3px);
}
.verses:has(.verse:nth-child(41)) {
  min-width: calc(15px + 4px);
}
.verses:has(.verse:nth-child(51)) {
  min-width: calc(18px + 6px);
}
.verses:has(.verse:nth-child(61)) {
  min-width: calc(21px + 7px);
}
.verses:has(.verse:nth-child(71)) {
  min-width: calc(24px + 8px);
}
.verses:has(.verse:nth-child(81)) {
  min-width: calc(27px + 9px);
}
.verses:has(.verse:nth-child(91)) {
  min-width: calc(30px + 10px);
}
.verses:has(.verse:nth-child(101)) {
  min-width: calc(33px + 11px);
}
.verses:has(.verse:nth-child(111)) {
  min-width: calc(36px + 12px);
}
.verses:has(.verse:nth-child(121)) {
  min-width: calc(39px + 13px);
}
.verses:has(.verse:nth-child(131)) {
  min-width: calc(42px + 14px);
}
.verses:has(.verse:nth-child(141)) {
  min-width: calc(45px + 15px);
}
.verses:has(.verse:nth-child(151)) {
  min-width: calc(48px + 16px);
}

.verse {
  width: 3px;
  height: 3px;
  background-color: var(--ds-bg-container-low-contrast);
}

.verse.filled {
  background-color: var(--ds-fg-low-contrast);
}

.minimal {
  .books {
    gap: var(--ds-space-1);
  }

  .bookName {
    gap: var(--ds-space-1);
    font-size: 0.875rem;
    font-weight: 400;
  }

  .chapters {
    gap: var(--ds-space-1) 0;
  }

  .verses {
    max-height: 40px;
    gap: 0;
  }

  .verse {
    width: 2px;
    height: 2px;
  }
}
