.toggleGroup {
  display: flex;
  gap: var(--ds-space-2);
  flex-wrap: wrap;
  border: none;
}

.toggleGroupLabel {
  font-weight: 600;
  margin-block-end: var(--ds-space-1);
}

.toggleOption {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--ds-radius-md);
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--ds-bg-container);
}

.toggleOption:hover {
  background: var(--ds-bg-container-low-contrast);
}

.toggleOption.selected {
  border: 1px solid var(--ds-fg-default);
}

.preview {
  width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: var(--ds-space-3);
  color: var(--ds-mg-border);
  flex-grow: 1;
  text-wrap: nowrap;
  font-weight: 700;
}

.selected .preview {
  color: var(--ds-fg-high-contrast);
}

.label {
  padding: var(--ds-space-2) var(--ds-space-4);
  border-top: 1px solid var(--ds-bg-page);
  text-wrap: nowrap;
  color: var(--ds-fg-low-contrast);
  width: 100%;
  text-align: center;
}

.selected .label {
  color: var(--ds-fg-default);
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
