.container {
  display: flex;
  justify-content: center;
}

.content {
  background-color: var(--ds-bg-container);
  border-radius: var(--ds-radius-md);
  display: flex;
  align-items: center;
}

.description {
  padding: var(--ds-space-3) var(--ds-space-4);
}

.ctaLink {
  padding: var(--ds-space-3) var(--ds-space-4);
  background-color: var(--ds-bg-container-low-contrast);
  color: var(--ds-fg-high-contrast);
  border-radius: var(--ds-radius-md);
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.ctaLink:focus-visible {
  outline: 2px solid var(--ds-mg-border);
  outline-offset: -4px;
}

.ctaLink svg {
  margin-inline-start: -20px; /* Width of icon */
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

@media (pointer: fine) {
  .ctaLink:hover {
    background-color: var(--ds-bg-high-contrast);

    & svg {
      margin-inline-start: var(--ds-space-2);
      opacity: 1;
    }
  }
}
