.header {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 0 12px lch(50 0 0 / 33%);
}

.appTitle {
  font-size: 1rem;
  line-height: 1.5;
}
