.header {
  position: sticky;
  bottom: 0;
  inset-inline: 0;
}

.headerContent {
  height: var(--header-max-height);
  background-color: var(--ds-bg-page);
  border-radius: var(--ds-radius-xl) var(--ds-radius-xl) 0 0;
  border: 1px solid var(--ds-bg-container);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--ds-space-6);
  padding-block-end: env(safe-area-inset-bottom, 0);
  max-width: var(--text-content-max-width);
  margin: 0 auto;
}

.appTitleContainer {
  display: flex;
  align-items: center;
  gap: var(--ds-space-2);
  color: var(--ds-fg-low-contrast);
}

.appTitle {
  font-size: 1rem;
  line-height: 1.5;
}

.appTitleContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--ds-space-2);
}
