.ViewPanels {
  display: flex;
  gap: 40px;
  margin: auto;
}

.ViewPanel {
  flex-basis: 0;
  flex-grow: 1;

  max-height: calc(100dvh - var(--header-max-height));
  overflow-y: auto;
}

@media (min-width: 1300px) {
  .ViewPanels {
    padding: 1rem;
  }

  .ViewPanel {
    max-height: calc(100dvh - var(--header-max-height) - 2rem);
  }
}
