.ViewPanels {
  display: flex;
  gap: 40px;
  max-width: 150ch;
  margin: auto;
}

.ViewPanel {
  flex-basis: 0;
  flex-grow: 1;

  max-height: calc(100dvh - var(--header-max-height));
  overflow-y: auto;
}

.ViewPanelContent {
  padding: 1rem;
}
